environment/prod/.terraform
environment/prod/.terraform.lock.hcl
environment/prod/tfplan

environment/qa/.terraform
environment/qa/.terraform.lock.hcl
environment/qa/tfplan

infrastructure/.terraform.lock.hcl
infrastructure/.terraform